body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #0e88f3;
}

.logo {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.72px;
  margin-top: 29px;
  cursor: pointer;
}

.topnav {
  margin-top: 44px;
}

.topnav__navbar {
  margin-left: 140px;
}

.topnav__navbar_item {
  color: #d2e7fb;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: -0.54px;
}

.topnav__navbar_item:hover {
  text-decoration: none;
  color: #ffffff;
}

.topnav__navbar_item:first-child {
  margin-right: 32px;
}

.topnav__navbar_item:last-child {
  margin-left: 32px;
}

.topnav__navbar_item:nth-child(3) {
  margin: 0 36px;
}

.topbox {
  margin-top: 91px;
}

.topbox__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: -1.44px;
  margin-bottom: 41px;
}

.topbox__text {
  width: 506px;
  color: #d2e7fb;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.topbox__btn {
  width: 231px;
  height: 60px;
  margin: 36px 0 16px 0;
  background-color: #9addfc;
  border: 0;
  border-radius: 5px;
  color: #345477;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.68px;
}

.topbox__review {
  color: #95c9fb;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  letter-spacing: -0.56px;
  margin-left: 45px;
}

.topbox__review_play-icon {
  margin-left: 6px;
}

.topbox__img {
  margin-top: 13px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 51px auto 58px auto;
}

.brand__text {
  margin-left: 127px;
  color: #a3d0fc;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.brand__companies {
  margin-left: 35px;
}

.brand__companies_img {
  margin-right: 31px;
}

.brand__companies_img:first-child {
  margin-right: 15px;
}

.slider {
  height: 298px;
}

.title {
  width: 560px;
  height: 119px;
  color: #315479;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: -1.28px;
  text-align: center;
  margin: 0 auto;
}

.info {
  margin-bottom: 119px;
}

.info__img {
  margin-top: 112px;
}

.info__img-1 {
  margin-top: 56px;
}

.info__about {
  width: 459px;
}

.info__about-first {
  margin-top: 90px;
}

.info__about-title {
  color: #315479;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 31px;
  text-align: left;
  margin-bottom: 40px;
}

.info__about-text {
  color: #677482;
  font-size: 22px;
  font-weight: 400;
}

.info__about-second {
  margin-left: 132px;
  margin-top: 121px;
}

.title-clientSay {
  font-size: 36px;
}

.comunity {
  display: inline-block;
  margin-right: 28px;
  width: 31%;
  vertical-align: top;
}

.comunity:last-child {
  margin-right: 0px;
}

.comunity__speech {
  background-color: #158af4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 45px 35px 24px;
  border-radius: 5px;
  margin-bottom: 24px;
  position: fixed;
  bottom: 0;
}

.comunity__speech :after {
  content: "";
  position: absolute;
  bottom: -14px;
  right: 20px;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #e67e22 transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.comunity__speech-quotes {
  margin-top: 5px;
  color: #116ace;
  font-family: Georgia;
  font-size: 75px;
  font-weight: 400;
  line-height: 42.73px;
  letter-spacing: -3.35px;
}

.comunity__speech-text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.76px;
}

.comunity__autor {
  margin-left: 7px;
  font-weight: 400;
  color: #315479;
  font-size: 16px;
  letter-spacing: -0.64px;
  line-height: 21px;
}

.comunity__autor-shop {
  color: #677482;
  font-size: 14px;
  letter-spacing: -0.56px;
  line-height: 23px;
}
/*# sourceMappingURL=style.css.map */