body
    font-family: 'Open Sans', sans-serif
.header
    background-color: #0e88f3
.logo
    color: #ffffff
    font-size: 36px
    font-weight: 400
    line-height: 30px
    letter-spacing: 0.72px
    margin-top: 29px
    cursor: pointer
.topnav
    margin-top: 44px
    &__navbar
        margin-left: 140px
        &_item
            color: #d2e7fb
            font-size: 14px
            font-weight: 400
            line-height: 21.78px
            letter-spacing: -0.54px
            &:hover
                text-decoration: none
                color: #ffffff
            &:first-child 
                margin-right: 32px
            &:last-child
                margin-left: 32px
            &:nth-child(3)
                margin: 0 36px
.topbox
    margin-top: 91px
    &__title
        color: #ffffff
        font-size: 36px
        font-weight: 400
        line-height: 43px
        letter-spacing: -1.44px
        margin-bottom: 41px
    &__text
        width: 506px
        color: #d2e7fb
        font-size: 15px
        font-weight: 400
        line-height: 24px
        letter-spacing: -0.6px
    &__btn
        width: 231px
        height: 60px
        margin: 36px 0 16px 0
        background-color: #9addfc
        border: 0
        border-radius: 5px
        color: #345477
        font-size: 17px
        font-weight: 600
        line-height: 24px
        text-transform: uppercase
        letter-spacing: -0.68px
    &__review
        color: #95c9fb
        font-size: 14px
        font-weight: 400
        line-height: 24px
        text-decoration: underline
        letter-spacing: -0.56px
        margin-left: 45px
        &_play-icon
            margin-left: 6px
.topbox__img
    margin-top: 13px   
.brand
    display: flex
    margin: 51px auto 58px auto
    &__text
        margin-left: 127px
        color: #a3d0fc
        font-size: 15px
        font-weight: 400
        line-height: 24px
        letter-spacing: -0.6px
    &__companies
        margin-left: 35px
        &_img 
            margin-right: 31px
            &:first-child
                margin-right: 15px

// **************slider***********    
.slider
    height: 298px
//***********slider****************

.title
    width: 560px
    height: 119px
    color: #315479
    font-size: 32px
    font-weight: 400
    line-height: 43px
    letter-spacing: -1.28px
    text-align: center
    margin: 0 auto
.info
    margin-bottom: 119px
    &__img
        margin-top: 112px
        &-1 
            margin-top: 56px
    
    &__about
        width: 459px
        &-first
            margin-top: 90px
        &-title
            color: #315479
            font-size: 25px
            letter-spacing: -1px
            line-height: 31px
            text-align: left
            margin-bottom: 40px
        &-text
            color: #677482
            font-size: 22px
            font-weight: 400
        &-second 
            margin-left: 132px
            margin-top: 121px
.title-clientSay
    font-size: 36px
.comunity
    display: inline-block
    margin-right: 28px
    width: 31%
    vertical-align: top
    &:last-child
        margin-right: 0px
    &__speech
        background-color: #158af4
        display: flex
        padding: 45px 45px 35px 24px
        border-radius: 5px
        margin-bottom: 24px
        position: fixed
        bottom: 0
        & :after 
            content: ""
            position: absolute
            bottom: -14px
            right: 20px
            border-style: solid
            border-width: 15px 15px 0
            border-color: #e67e22 transparent
            display: block
            width: 0
            z-index: 1
        &-quotes
            margin-top: 5px
            color: #116ace
            font-family: Georgia
            font-size: 75px
            font-weight: 400
            line-height: 42.73px
            letter-spacing: -3.35px
        &-text 
            color: #ffffff
            font-size: 17px
            font-weight: 400
            line-height: 25px
            letter-spacing: -0.76px
    &__autor 
        margin-left: 7px
        font-weight: 400
        color: #315479
        font-size: 16px
        letter-spacing: -0.64px
        line-height: 21px
        &-shop
            color: #677482
            font-size: 14px
            letter-spacing: -0.56px
            line-height: 23px
