body {
  font-family: 'Open Sans', sans-serif;
}

.blueline {
  background-color: #0e88f3;
}

.logo {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.72px;
  margin-top: 29px;
  cursor: pointer;
}

.topnav {
  margin-top: 44px;
}

.topnav__navbar {
  margin-left: 140px;
}

.topnav__navbar_item {
  color: #d2e7fb;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: -0.54px;
}

.topnav__navbar_item:hover {
  text-decoration: none;
  color: #ffffff;
}

.topnav__navbar_item:first-child {
  margin-right: 32px;
}

.topnav__navbar_item:last-child {
  margin-left: 32px;
}

.topnav__navbar_item:nth-child(3) {
  margin: 0 36px;
}

.topbox {
  margin-top: 91px;
}

.topbox__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: -1.44px;
  margin-bottom: 41px;
}

.topbox__text {
  width: 506px;
  color: #d2e7fb;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.topbox__review {
  color: #95c9fb;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  letter-spacing: -0.56px;
  margin-left: 45px;
}

.topbox__review_play-icon {
  margin-left: 6px;
}

.btn {
  margin: 36px 0 16px 0;
  width: 231px;
  height: 60px;
  background-color: #9addfc;
  border: 0;
  border-radius: 5px;
  color: #345477;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.68px;
}

.topbox__img {
  margin-top: 13px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 51px auto 58px auto;
}

.brand__text {
  margin-left: 127px;
  color: #a3d0fc;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.brand__companies {
  margin-left: 35px;
}

.brand__companies_img {
  margin-right: 31px;
}

.brand__companies_img:first-child {
  margin-right: 15px;
}

.slider {
  height: 298px;
  margin-bottom: 64px;
}

.slide-box {
  border-right: 1px solid #1e91f7;
  border-bottom: 1px solid #1e91f7;
  padding-top: 32px;
  text-decoration: none;
}

.slide-box__link {
  cursor: pointer;
}

.slide-box__link:hover {
  text-decoration: none;
}

.slide-box__link:visited {
  text-decoration: none;
}

.slide-box__link_title {
  color: #315479;
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: -1.29px;
  text-align: center;
}

.slide-box__link_img {
  margin: 0 auto;
}

.slide-box__link_img-hercules {
  margin-top: 21px;
  margin-bottom: 25px;
}

.title {
  width: 560px;
  height: 119px;
  color: #315479;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: -1.28px;
  text-align: center;
  margin: 0 auto;
}

.info {
  margin-bottom: 119px;
}

.info__img {
  margin-top: 112px;
}

.info__img-1 {
  margin-top: 56px;
}

.info__about {
  width: 459px;
}

.info__about-first {
  margin-top: 90px;
}

.info__about_title {
  color: #315479;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 31px;
  text-align: left;
  margin-bottom: 40px;
}

.info__about_text {
  color: #677482;
  font-size: 22px;
  font-weight: 400;
}

.info__about-second {
  margin-left: 132px;
  margin-top: 121px;
}

.title-clientSay {
  font-size: 36px;
}

.community {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  margin-bottom: 100px;
}

.community:last-child {
  margin-right: 0px;
}

.community__speech_blockquote {
  margin: 10px 10px 0;
  background: #158af4;
  padding: 35px 28px 28px 57px;
  position: relative;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.76px;
}

.community__speech_blockquote:before {
  content: "\201C";
  position: absolute;
  font-family: "Georgia";
  font-size: 75px;
  line-height: 1;
  color: #116ace;
  font-style: normal;
  top: 22px;
  left: 18px;
}

.community__speech_blockquote_corner {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 22px solid transparent;
  border-top: 13px solid #158af4;
  margin: 0 0 0 40px;
}

.community__speech_autor {
  margin-left: 26px;
  margin-top: 5px;
  font-weight: 400;
  color: #315479;
  font-size: 16px;
  letter-spacing: -0.64px;
  line-height: 21px;
}

.community__speech_autor_shop {
  color: #677482;
  font-size: 14px;
  letter-spacing: -0.56px;
  line-height: 23px;
}

.downbox {
  padding-top: 63px;
  padding-bottom: 80px;
}

.downbox__title {
  margin: 0 auto;
  width: 676px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: -1.28px;
  text-align: center;
}

.downbox__subtitle {
  text-align: center;
  margin-top: 25px;
  color: #d2e7fb;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.64px;
}

.downbox__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-topbox {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

.footer-topbox__info {
  width: 25%;
  margin-right: 60px;
}

.footer-topbox__info_text {
  width: 300px;
  color: #323232;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.6px;
}

.footer-topbox__contact {
  width: 22%;
  margin-right: 76px;
}

.footer-topbox__contact_text {
  width: 250px;
  color: #323232;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.6px;
}

.footer-topbox__contact_mail {
  width: 250px;
  color: #3974ca;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.footer-topbox__social {
  width: 15%;
}

.footer-topbox_title {
  color: #3974ca;
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 25px;
}

.navlist {
  position: relative;
}

.navlist__item {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  height: 19px;
  display: block;
}

.navlist__item_fb {
  left: 0px;
  width: 11px;
  background: url("../img/social-sprite.png") 0 0;
}

.navlist__item_linkedin {
  left: 23px;
  width: 18px;
  background: url(../img/social-sprite.png) -27px 0;
}

.navlist__item_youtobe {
  left: 50px;
  width: 21px;
  background: url(../img/social-sprite.png) -60px 0;
}

.navlist__item_twitter {
  left: 80px;
  width: 27px;
  background: url(../img/social-sprite.png) -95px 0;
}

.navlist__item_instagram {
  left: 100px;
  width: 27px;
  background: url(../img/social-sprite.png) -121px 0;
}

.navlist__link {
  display: block;
  height: 19px;
  cursor: pointer;
}

.footer-bottombox {
  margin-left: 50px;
  margin-bottom: 65px;
  background-image: url(../img/like-share.png);
  background-repeat: no-repeat;
  padding-left: 140px;
  color: #323232;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.5px;
}
/*# sourceMappingURL=style.css.map */